.home {
  margin: 10px;

  .home-introduction {
    font-size: 28px;
    margin-bottom: 20px;

    .home-introduction-1 {
      display: block;
    }

    .home-introduction-2 {
      margin-left: 10px;
      display: block;
    }

    .home-introduction-3 {
      margin-left: 20px;
      display: block;
    }
  }

  .home-info {
    font-size: 18px;

    .home-info-row {
      margin-bottom: 5px;
      display: block;
    }
  }
}