body {
  margin: 0;
  background-color: #d3b14d;
  font-family: 'MedievalSharp', cursive;
}

.content {
  padding: 20px;

  p {
    font-size: 1.2em;
  }
}

a {
  text-decoration: none;
  cursor: url('/sword.cur'), pointer;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #28313a;
  color: white;
  font-family: 'MedievalSharp', cursive;
  padding: 5px;
  font-size: 18px;
  cursor: url('/sword.cur'), pointer;
}

.grid-container {
  background-color: #0755a0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
}

.grid-item {
  background-color: #d3c8b4;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 16px;
  width: 25vw;
  min-width: 120px;
  margin: 2px auto 2px auto;
  border-radius: 5px;
}

.equipment-img {
  height: 10em;
}

.hero-stats {
  line-height: 0.2em;
  margin: 10px 0 10px 0;

  .left-column {
    width: 4.5em;
    display: inline-block;
    text-align: left;
  }
}

.dragon-stats {
  line-height: 0.2em;
}

.hero-form {
  .name-required-warning {
    color: red;
  }

  label {
    display: block;
  }

  input {
    display: block;
    margin-top: 5px;
    padding: 3px;
    background-color: rgb(241, 225, 81);
    font-family: 'MedievalSharp', cursive;
    border: solid 1.5px #ad3f26;
  }

  input:focus {
    outline: none;
  }

  .create-hero-btn {
    display: block;
    margin-top: 5px;
  }
}

.equipment-for-sale {
  .buy-equipment-btn {
    display: block;
  }

  .no-gold {
    background-color: #eab12f;
  }

  .owned:hover,
  .no-gold:hover {
    cursor: not-allowed;
  }
}

.gameover-img {
  height: 8em;
}

.reverse-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.revert-img {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.lifebar {
  .lifebar-background {
    background-color: red;
    height: 1.5em;
    width: 6em;
    border: solid 2px red;
    margin: auto;
    text-align: left;
  }

  .lifebar-life {
    background-color: green;
    height: 1.5em;
    text-align: center;
  }

  .lifebar-number {
    position: absolute;
    margin: 4px;
    color: gold;
  }
}

.highscores {
  margin-top: 20px;

  table {
    text-align: left;
  }

  table th,
  table td {
    padding: 5px;
  }
}
