body {
  margin: 0;
  background-color: #D3B14D;
  font-family: 'MedievalSharp', cursive;
}

.content {
  padding: 20px;

  p {
    font-size: 1.2em;
  }
}

a {
  text-decoration: none;
  cursor: url('/sword.cur'), pointer;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #28313A;
  color: white;
  font-family: 'MedievalSharp', cursive;
  padding: 5px;
  font-size: 18px;
  cursor: url('/sword.cur'), pointer;
}

.disabled {
  cursor: not-allowed;
  background-color: rgb(67, 69, 71);
}

.grid-container {
  background-color: #0755A0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
}

.grid-item {
  background-color: #D3C8B4;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 16px;
  width: 25vw;
  min-width: 120px;
  margin: 2px auto 2px auto;
  border-radius: 5px;
}

.equipment-img {
  height: 10em;
}

.home {
  margin: 10px;

  .home-introduction {
    font-size: 28px;
    margin-bottom: 20px;

    .home-introduction-1 {
      display: block;
    }

    .home-introduction-2 {
      margin-left: 10px;
      display: block;
    }

    .home-introduction-3 {
      margin-left: 20px;
      display: block;
    }
  }

  .home-info {
    font-size: 18px;

    .home-info-row {
      margin-bottom: 5px;
    }
  }
}

.hero-stats {
  line-height: 0.2em;

  .left-column {
    width: 7.5em;
    display: inline-block;
    text-align: left;
  }
}

.dragon-stats {
  line-height: 0.2em;
}

.hero-form {

  .name-required-warning {
    color: red;
  }

  label {
    display: block;
  }

  input {
    display: block;
    margin-top: 5px;
    padding: 3px;
    background-color: rgb(241, 225, 81);
    font-family: 'MedievalSharp', cursive;
    border: solid 1.5px #ad3f26;
  }

  input:focus {
    outline: none;
  }

  .create-hero-btn {
    display: block;
    margin-top: 5px;
  }
}

.equipment-for-sale {
  .buy-equipment-btn {
    display: block;
  }

  .owned {
    background-color: #166D64;
  }

  .no-gold {
    background-color: #EAB12F;
  }

  .owned:hover, .no-gold:hover {
    cursor: not-allowed;
  }
}

.header {
  background: #AD3F26;

  .logo {
    width: 4em;
    margin: 5px;
  }

  .container {
    margin: 0 auto;
    padding: 0.8em;
    display: inline-block;

    .nav {
      justify-self: left;

      .nav-ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .nav-li {
          float: left;
          margin: 5px;

          .nav-link {
            padding: 1em;
            text-transform: uppercase;
            font-size: 1.2em;
            color: white;

            &:hover {
              background: rgb(0, 0, 0);
            }
          }
        }
      }
    }
  }
}

.battlefield {

  .battlefield-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .battlefield-characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    position: relative;

    .hero-character {
      margin-right: 10px;
      text-align: left;

      .lifebar-background {
        margin: 0;
      }
    }

    .dragon-character {
      position: absolute;
      bottom: 0;
      left: 120px;
    }

    .battlefield-damage {
      color: red;
      text-align: center;
      height: 20px;
      display: block;
    }
  }

  .battlefield-character-image {
    height: 10em;
  }

  .battlefield-hero-stats {
    margin: 10px 0 10px 0;
  }

  .battlefield-actions {
    margin-top: 20px;
  }
}

.gameover-img {
  height: 8em;
}

.reverse-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.revert-img {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.lifebar {

  .lifebar-background {
    background-color: red;
    height: 1.5em;
    width: 6em;
    border: solid 2px red;
    margin: auto;
    text-align: left;
  }

  .lifebar-life {
    background-color: green;
    height: 1.5em;
    text-align: center;
  }

  .lifebar-number {
    position: absolute;
    margin: 4px;
    color: gold;
  }
}

.highscores {
  margin-top: 20px;

  table {
    text-align: left;
  }

  table .center-column {
    padding: 0 5px 0 5px;
  }
}