@media only screen and (max-width: 640px) {
  .grid-item {
    flex-basis: 100%;
  }

  .header {
    .logo {
      width: 3em;
    }

    .container .nav .nav-ul .nav-li {
      margin: 2px;

      .nav-link {
        padding: 0.5em;
      }
    }
  }

  .battlefield {
    .battlefield-characters {
      .dragon-character {
        left: 100px;
      }

      .battlefield-character-image {
        height: 6em;
      }
    }
  }

  .gameover-img {
    height: 7em;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    .container .nav .nav-ul .nav-li {
      .nav-link {
        padding: 0.2em;
      }
    }
  }

  .gameover-img {
    height: 4.5em;
  }
}
