body {
  margin: 0;
  background-color: #D3B14D;
  font-family: 'MedievalSharp', cursive;
}

a {
  text-decoration: none;
  cursor: url('/sword.cur'), pointer;
}

.content {
  padding: 20px;
}

.home {
  margin: 10px;

  .home-instuctions {
    font-size: 20px;

    .home-instruction-1 {
      display: block;
    }

    .home-instruction-2 {
      margin-left: 10px;
      display: block;
    }

    .home-instruction-3 {
      margin-left: 20px;
      display: block;
    }
  }
}

.equipment-img {
  height: 10em;
}

.hero-form {

  .name-required-warning {
    color: red;
  }

  label {
    display: block;
  }

  input {
    display: block;
    margin-top: 5px;
    padding: 3px;
    background-color: rgb(241, 225, 81);
    font-family: 'MedievalSharp', cursive;
    border: solid 1.5px #ad3f26;
  }

  input:focus {
    outline: none;
  }

  .create-hero-btn {
    display: block;
    margin-top: 5px;
  }
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #28313A;
  color: white;
  font-family: 'MedievalSharp', cursive;
  padding: 5px;
  font-size: 18px;
  cursor: url('/sword.cur'), pointer;
}

.grid-container {
  background-color: #0755A0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
}

.grid-item {
  background-color: #D3C8B4;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 16px;
  width: 25vw;
  min-width: 120px;
  margin: 2px auto 2px auto;
  border-radius: 5px;
}

.equipment-for-sale {
  .buy-equipment-btn {
    display: block;
  }

  .owned {
    background-color: #166D64;
  }

  .no-gold {
    background-color: #EAB12F;
  }

  .owned:hover, .no-gold:hover {
    cursor: not-allowed;
  }
}

.header {
  background: #AD3F26;

  .logo {
    width: 5em;
    margin: 5px;
  }

  .container {
    margin: 0 auto;
    padding: 1.3em;
    display: inline-block;

    .nav {
      justify-self: left;

      .nav-ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .nav-li {
          float: left;
          margin: 5px;

          .nav-link {
            padding: 1em;
            text-transform: uppercase;
            font-size: 1.2em;
            color: white;

            &:hover {
              background: rgb(0, 0, 0);
            }
          }
        }
      }
    }
  }
}